name: Release Obsidian plugin

on:
  push:
    tags:
      - '*'

env:
  STORE_PATH: ''

jobs:
  build:
    name: Build
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v5
        with:
          node-version: 'lts/*'
          cache: pnpm

      - run: pnpm install --frozen-lockfile
      - run: pnpm run build

      - name: Get release version
        id: version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}

      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          tag="${{ steps.version.outputs.VERSION }}"

          gh release create "${{ steps.version.outputs.VERSION }}" \
            --title="${{ steps.version.outputs.VERSION }}" \
            --draft \
            dist/main.js dist/manifest.json
